/* Start Global Rules */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: all 0.3s;
    --section-padding: 6.25rem 0;
    --section-background: #ececec;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
p {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.container {
    padding: 0 .9375rem;
    margin: 0 auto;
}
/* Small */
@media (min-width: 48rem) {
    .container {
        width: 46.875rem;
    }
}
/* Medium */
@media (min-width: 62rem) {
    .container {
        width: 60.625rem;
    }
}
/* Large */
@media (min-width: 75rem) {
    .container {
        width: 73.125rem;
    }
}
.main-title {
    font-size: 2.5rem;
    width: fit-content;
    margin: 0 auto 6.25rem;
    padding: 10px 20px;
    position: relative;
    border: 2px solid #000;
    z-index: 1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    text-transform: uppercase;
}
.main-title:hover {
    color: #fff;
    border: 2px solid #fff;
    transition-delay: 0.5s;
}
.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.main-title::before {
    left: -40px;
}
.main-title::after {
    right: -40px;
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
    -webkit-animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
    -webkit-animation: right-move 0.5s linear forwards;
}
/* End Global Rules */
/* Start Header */
header {
    position: relative;
    background-color: #ffffff;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5625rem;
    font-size: 1.875rem;
    font-weight: bold;
    color: var(--main-color);
}
header .main-nav ul:not(.links) {
    display: flex;
}
header .main-nav a {
    font-size: 1.5625rem;
    padding: 0 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5625rem;
    position: relative;
    color: #000;
    overflow: hidden;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
header .main-nav a:hover:not(.mega-menu a) {
    color: var(--main-color);
    background-color: #fafafa;
}
header .main-nav a::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
header .main-nav a:hover::before {
    left: 0;
}
header .mega-menu {
    position: absolute;
    width: 100%;
    background-color: #fff;
    padding: 1.875rem;
    left: 0;
    display: flex;
    gap: 2.5rem;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    opacity: 0;
    top: calc(100% + 50px);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
header .main-nav ul li:hover .mega-menu {
    opacity: 1;
    z-index: 8;
    top: calc(100% + 1px);
}
header .mega-menu image img {
    max-width: 100%;
}
header .mega-menu .links {
    min-width: 15.625rem;
    flex: 1;
}
header .mega-menu li:not(:last-child) {
    border-bottom: solid 1px #e9e6e6;
}
header .mega-menu .links a {
    display: block;
    line-height: 40px;
    padding: 15px;
    font-size: 1.25rem;
    color: var(--main-color);
    font-weight: bold;
}
header .mega-menu a::before {
    content: "";
    position: absolute;
    height: 100%;
    z-index: -1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    background-color: #fafafa;
}
header .mega-menu a i {
    margin-right: .625rem;
}
@media (max-width: 47.9375rem) {
    header .logo {
        width: 100%;
        height: 3.125rem;
    }
    header .main-nav {
        margin: auto;
    }
    header .main-nav a:not(.mega-menu a) {
        padding: .625rem;
        font-size: 1.125rem;
        height: 2.8rem;
    }
    header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
    header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}
@media (max-width: 61.9375rem) {
    header .main-nav .mega-menu .image {
        display: none;
    }
}
/* End Header */
/* Start Landing */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -40px;
    left: 0;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    min-height: calc(100vh - 4.5625rem);
    display: flex;
    align-items: center;
    padding-bottom: 7.5rem;
}
.landing .image {
    width: 37.5rem;
    position: relative;
    overflow: hidden;
    animation: up-and-down 4s linear infinite;
    -webkit-animation: up-and-down 4s linear infinite;
}
.landing .image img {
    display: block;
    max-width: 100%;
}
.landing .text {
    flex: 1;
}
.landing .text > h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #000;
    text-transform: capitalize;
    letter-spacing: -2px;
}
.landing .text > h1 + p {
    font-size: 1.5625rem;
    color: #666;
    margin: .3125rem 0 0;
    max-width: 31.25rem;
    line-height: 1.7;
}
@media (max-width: 61.9375rem) {
    .landing .text {
        text-align: center;
    }
    .landing .text h1 {
        font-size: 2rem;
    }
    .landing .text > h1 + p {
        font-size: 1.25rem;
        margin: .625rem auto;
    }
    .landing .image {
        display: none;
    }
}
.landing .go-down {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.landing .go-down i {
    animation: bouncing 1.5s infinite;
    -webkit-animation: bouncing 1.5s infinite;
}
/* End Landing */
/* Start Articles */
#articles {
    padding: var(--section-padding);
    position: relative;
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 3.125rem;
}
.articles .box {
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    -webkit-box-show: 0 2px 15px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.articles .box:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
    -webkit-box-show: 0 2px 15px rgba(0, 0, 0, 20%);
    -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
}
.articles .box img {
    max-width: 100%;
}
.articles .box .text {
    padding: 1.25rem;
    border-bottom: 1px solid #e6e6e7;
}
.articles .box h3 {
    color: #000;
    margin: 0;
}
.articles .box p {
    color: #777;
    line-height: 1.5;
    margin: .625rem 0 0;
}
.articles .box .info {
    padding: 1.25rem;
}
.articles .box .info a {
    font-weight: bold;
    color: var(--main-color);
}
.articles .box .info i {
    float: right;
    color: var(--main-color);
}
.articles .box:hover .info i {
    animation: arrow-right 0.6s linear infinite;
    -webkit-animation: arrow-right 0.6s linear infinite;
}
/* End Articles */
.spikes {
    position: relative;
}
.spikes::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 30px;
    left: 0;
    top: 0;
    background-image: linear-gradient(136deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 40px 40px;
}
/* Start Gallery */
#gallery {
    padding: var(--section-padding);
    background-color: var(--section-background);
    position: relative;
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
    gap: 2.5rem;
}
.gallery .box {
    padding: .9375rem;
    background-color: #fff;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%);
    -webkit-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%);
    -moz-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%);
}
.gallery .image {
    position: relative;
    overflow: hidden;
}
.gallery .image img {
    max-width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.gallery .image:hover img {
    transform: rotate(5deg) scale(1.1);
    -webkit-transform: rotate(5deg) scale(1.1);
    -moz-transform: rotate(5deg) scale(1.1);
    -ms-transform: rotate(5deg) scale(1.1);
    -o-transform: rotate(5deg) scale(1.1);
}
.gallery .image::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255 255 255 / 20%);
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.gallery .image:hover::before {
    animation: flashing 0.7s;
    -webkit-animation: flashing 0.7s;
}
/* End Gallery */
/* Start Features */
#features {
    padding: var(--section-padding);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 2.5rem;
}
.features .box {
    border: solid 1px #ccc;
    text-align: center;
}
.features .box .image-holder {
    overflow: hidden;
    position: relative;
}
.features .box .image-holder img {
    max-width: 100%;
}
.features .box .image-holder::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -1px;
}
.features .quality .image-holder::before {
    background-color: rgb(244 64 54 / 60%);
}
.features .time .image-holder::before {
    background-color: rgb(0 150 136 / 60%);
}
.features .passion .image-holder::before {
    background-color: rgba(3, 169, 244, 60%);
}
.features .box .image-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 0px 0px 170px 500px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.features .box:hover .image-holder::after {
    border-width: 170px 500px 170px 0px;
}
.features .box .text h2 {
    font-size: 2.5rem;
    width: fit-content;
    margin: auto;
    position: relative;
}
.features .box .text h2::before {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -20px;
    width: calc(100% - 30px);
    left: 15px;
}
.features .quality .text h2::before {
    background-color: #f44036;
}
.features .time .text h2::before {
    background-color: #009688;
}
.features .passion .text h2::before {
    background-color: #03a9f4;
}
.features .box .text p {
    font-size: 1.375rem;
    line-height: 2;
    color: #777;
    margin: 1.875rem auto;
    padding: 1.5625rem;
}
.features .box .text a {
    display: block;
    padding: .625rem 1.875rem;
    font-size: 1.5rem;
    width: fit-content;
    margin: 0 auto 1.875rem;
    font-weight: bold;
    border: solid 3px transparent;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.features .quality .text a {
    color: #f44036;
    border-color: #f44036;
    background-image: linear-gradient(to right,  #f44036 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: bottom right;
}
.features .time .text a {
    color: #009688;
    border-color: #009688;
    background-image: linear-gradient(90deg, #009688 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: bottom right;
}
.features .passion .text a {
    color: #03a9f4;
    border-color: #03a9f4;
    background-image: linear-gradient(90deg, #03a9f4 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: bottom right;
}
.features .box:hover .text a {
    background-position: bottom left;
    color: #fff;
}
/* End Features */
/* Start Testimonials */
#testimonials {
    padding: var(--section-padding);
    background-color: var(--section-background);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 2.5rem;
}
.testimonials .box {
    padding: 1.25rem;
    position: relative;
    background-color: #fff;
}
.testimonials .box img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -30px;
    right: -10px;
    border: 10px solid var(--section-background);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonials .box h3 {
    margin: 0 0 .625rem;
}
.testimonials .box .title {
    display: block;
    color: #777;
    margin: 0 0 .625rem;
}
.testimonials .box .rate {
    color: #ffc107;
}
.testimonials .box p {
    color: #777;
    line-height: 1.5;
    margin: 10px auto 0;
}
/* End Testimonials */
/* Start Team Members */
#team {
    padding: var(--section-padding);
    background-color: #fff;
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    gap: 2.5rem;
}
.team .box {
    position: relative;
    z-index: 1;
}
.team .box::before,
.team .box::after {
    content: "";
    position: absolute;
    background-color: #f3f3f3;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
}
.team .box::after {
    width: 0;
    z-index: -1;
    background-color: #e4e4e4;
}
.team .box:hover::after {
    width: calc(100% - 60px);
}
.team .box .data {
    display: flex;
    align-items: center;
    padding: 3.75rem 0 0;
}
.team .box .data img {
    max-width: calc(100% - 60px);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.team .box:hover .data img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.team .box .data .social {
    width: 3.75rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.team .data .social a {
    width: 3.75rem;
    height: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.team .data i {
    color: #777;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.team .data i:hover {
    color: var(--main-color);
}
.team .box .info {
    padding: 0 0 0 5rem;
}
.team .box .info h3 {
    font-size: 1.375rem;
    color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    margin-bottom: 0;
}
.team .box:hover .info h3 {
    color: #777;
}
.team .box .info p {
    margin: .625rem 0 1.5625rem;
}
/* End Team Members */
/* Start Services */
#services {
    padding: var(--section-padding);
    background-color: var(--section-background);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
}
.services .box {
    background-color: #fff;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    counter-increment: services;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.services .box:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.services .box::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    top: -3px;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    background-color: var(--main-color);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.services .box:hover::before {
    width: 100%;
}
.services .box .data i {
    display: block;
    color: #d5d5d5;
    text-align: center;
    margin: 1.875rem auto 1.25rem ;
}
.services .box .data h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 1.25rem auto 2.5rem;
    color: var(--main-color);
}
.services .box .info {
    background-color: #f9f9f9;
    padding: 20px;
    position: relative;
    text-align: right;
}
.services .box .info a {
    color: var(--main-color);
    font-size: 1.125rem;
}
.services .box .info::before {
    content:  "0" counter(services);
    position: absolute;
    height: 100%;
    width: 80px;
    left: 0;
    top: 0;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--main-color);
    padding-right: 18px;
}
.services .box .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    width: 50px;
    left: 80px;
    height: calc(100% + 0.4px);
    top: 0;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
}
/* End Services */
/* Start Skills */
#skills {
    padding: var(--section-padding);
    background-color: #fff;
}
.skills .container {
    display: flex;
    align-items: center;
}
.skills img {
    max-width: 100%;
}
@media (max-width: 61.9375rem) {
    .skills img {
        display: none;
    }
}
.skills .our-skills {
    flex: 1;
}
.skills .our-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.skills .our-skills .skill span {
    color: var(--main-color);
    padding: 3px 5px;
    border: solid 1px #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    font-size: 18px;
}
.skills .progress {
    background-color: #eee;
    height: 30px;
    position: relative;
}
.skills .progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
/* Start work steps */
#work-steps {
    padding: var(--section-padding);
    background-color: var(--section-background);
}
.work-steps .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 61.9375rem) {
    .work-steps .container {
        flex-direction: column;
    }
    .work-steps img:not(.info .box img) {
        margin: 0 0 3.125rem;
    }
}
.work-steps img:not(.info .box img) {
    max-width: 100%;
    margin-right: 6.25rem;
}
.work-steps .info .box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #fff 2px;
    background-color: #f5f5f5;
    padding: 1.875rem;
    margin-bottom: 1.25rem;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    z-index: 1;
}
@media (max-width: 48.5rem) {
    .work-steps .info .box {
        flex-direction: column;
        text-align: center;
    }
    .work-steps .info .box img {
       margin: 0 0 1.875rem; 
    }
}
.work-steps .info .box::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: #ededed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.work-steps .info .box:hover::before {
    width: 100%;
    height: 100%;
}
.work-steps .info .box img {
    width: 64px;
    margin-right: 1.875rem;
}
.work-steps .info .box h3 {
    margin: 0;
    font-size: 1.375rem;
}
.work-steps .info .box p {
    font-size: 1.25rem;
    color: #777;
    line-height: 1.7;
    margin: .625rem 0 0;
}
/* Start Events */
#events {
    padding: var(--section-padding);
    background-color: #fff;
    position: relative;
}
.dots {
    background-image: url("../images/dots.png");
    position: absolute;
    width: 204px;
    height: 186px;
    background-repeat: no-repeat;
}

.dots-up {
    top: 200px;
    right: 0;
}
.dots-down {
    bottom: 200px;
    left: 0;
}
.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.events img {
    max-width: 450px;
}
@media (max-width: 61.9375rem) {
    .events img {
        display: none;
    }
}
.events .info {
    flex: 1;
}
.events .info .time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.25rem auto;
    gap: .625rem;
}
.events .time .unit {
    border: 1px solid #d4d4d4;
    width: 4.6875rem;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.events .time .unit:hover,
.events .time .unit:hover span:last-child {
    border-color: var(--main-color);
}
.events .time .unit span {
    display: block;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.events .time .unit span:first-child {
    font-size: 2.1875rem;
    font-weight: bold;
    color: var(--main-color);
    padding: 15px;
}
.events .time .unit span:last-child {
    border-top: 1px solid #d4d4d4;
    font-size: 1rem;
    padding: .5rem .625rem;
}
.events .title {
    font-size: 1.875rem;
    margin: 2.5rem 0 0;
    text-align: center;
}
.events .description {
    text-align: center;
    font-size: 1.1875rem;
    color: #777;
    line-height: 1.7;
}
.events .subscribe {
    margin: 3.125rem 0 0;
    flex-basis: 100%;
}
.events form {
    display: flex;
    border-radius: 50px;
    background-color: #f5f5f5;
    padding: 1.875rem 2.5rem;
    width: 37.5rem;
    margin: 1.25rem auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    gap: 1.25rem;
}
@media (max-width: 48.5rem) {
    .events form {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        max-width: 100%;
        flex-direction: column;
        padding: 1.25rem;
    }
}
.events form input[type="email"] {
    caret-color: var(--main-color);
    padding: 20px;
    border-radius: 50px;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    flex: 1;
}
@media (max-width: 48.5rem) {
    .events form input[type="email"] {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}
.events form input[type="email"]:focus {
    outline: none;
}
.events form input[type="email"]::placeholder {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.events form input[type="email"]:focus::placeholder {
    opacity: 0;
}
.events form input[type="submit"] {
    padding: 1.25rem;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
@media (max-width: 48.5rem) {
    .events form input[type="submit"] {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
}
.events form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
/* End Events */
/* End Work Steps */
/* End Skills */
/* Start Animation */
@keyframes up-and-down {
    0% {
        top: 0;
    } 
    50% {
        top: -50px;
    }
    100% {
        top: 0;
    }
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
40%,
60% {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}
}
@keyframes left-move {
    50% {
        left: 0;
        width: 15px;
        height: 15px;
}
100% {
    left: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 50%;
    height: 100%;
}
}
@keyframes right-move {
    50% {
        right: 0;
        width: 15px;
        height: 15px;
    }
    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
}
@keyframes arrow-right {
    to {
        transform: translateX(10px);
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
}
}
@keyframes flashing {
    0%,
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* End Animation */
